.bg-conteiner {
  background-color: aliceblue;
  background-image: linear-gradient(60deg, darkslateblue, rgb(0, 0, 29));
  background-size: 600% 600%;
  animation: bgAnimatedGradient 15s infinite linear;
}

@keyframes bgAnimatedGradient {
  0% {
    background-position: 0 85%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 85%;
  }
}
