.header-image {
  width: 100%;
}

.image-container {
  background-color: rgb(16, 16, 16);
  padding: 16px;
}
body {
  font-family: "Roboto Slab", serif;
  color: aliceblue;
  background-color: rgb(0, 0, 29);
  padding-left: 2%;
  padding-right: 2%;
}
