.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1.5fr;
  grid-template-areas:
    "ppicture pname"
    "work education";
}

ppicture {
  grid-area: picture;
}
pname {
  grid-area: name;
}

work {
  grid-area: work;
}

education {
  grid-area: education;
}

@media only screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr;
    grid-template-areas:
      "ppicture"
      "name"
      "work"
      "education";
  }
}

.header-image {
  height: 40vh;
}

.image-container {
  background-color: rgb(185, 185, 185);
  padding: 16px;
  height: 40vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.flex-container > div {
  margin: 1vw;
  padding: 2vw;
  font-size: 5vw;
}

.first-txt {
  position: absolute;
  font-size: 10vh;
  top: 10%;
  left: 10%;
  right: 50%;
}

body {
  font-size: 2vw;
  color: aliceblue;
  background-color: rgb(0, 0, 29);
  padding-left: 2%;
  padding-right: 2%;
}

.parallax {
  background-image: url("Pictures/lightbulb.jpg");

  height: 90vh;

  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10vh;
}
