.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "ppicture pname"
    "work work"
    "education education";
}

#ppicture {
  grid-area: ppicture;
}
#pname {
  grid-area: pname;
}

#work {
  grid-area: work;
}

#education {
  grid-area: education;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}

.slides {
  display: none;
  max-height: 30vh;
  max-width: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.animate-left {
  position: relative;
  animation: animateleft 1.5s;
}

@keyframes animateleft {
  from {
    left: -500px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
  border-radius: 15px;
}

header ul li a:hover {
  background: white;
  color: black;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.header_text {
  height: 10vh;
  font-size: 3.5vw;
}

body {
  font-size: 2vw;
  color: aliceblue;
  background-color: rgb(0, 0, 29);
  padding-left: 2%;
  padding-right: 2%;
}

.parallax {
  background-image: url("Pictures/lightbulb.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10vh;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "ppicture"
      "pname"
      "work"
      "education";
  }

  body {
    font-size: 4.5vw;
    color: aliceblue;
    background-color: rgb(0, 0, 29);
    padding-left: 2%;
    padding-right: 2%;
  }
  .header_text {
    height: 10vh;
    font-size: 4.5vw;
  }
}

.timeline_container {
  padding-bottom: 1vh;
  margin-left: 50%;
  max-width: 800px;
}

.top-section {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.timeline {
  position: relative;
  min-height: 150px;
}

.line {
  position: absolute;
  z-index: 2;
  left: calc(50%-1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: blue;
  display: none;
}

.line:before,
.line:after {
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%);
}

.line:after {
  bottom: 0;
}
.timeline_section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 25%;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: rgb(114, 114, 141);
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.timeline_content {
  font-size: 10pt;
  margin-left: 100%;
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}

h2 {
  font-size: 15pt;
}
